*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --hsl: 195;
  --cor1: hsl(var(--hsl), 91%, 25%);
  --cor2: hsl(var(--hsl), 46%, 40%);
  --cor-pesquisar: rgba(255, 255, 255, 0.200);

}

form, p {
  font-size: 1.6rem;
}
h1{
  font-size: 2.4rem;
}

.pagina {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;


}
/* -----------------HEADER----------------- */
header{
  height: 7.2rem;
  /* width: 100%; */
  grid-column: 1/4;

  background: var(--cor1);
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding: 1.6rem 2.8rem; 


}

.logo{
  width: 40px;
  height: 40px;
  
  left: 0;
}
header form{
  flex: 1;
}
form label {
  position: absolute;
  line-height: 4.0rem;
  margin-block: auto;
  margin-inline: 1.4rem; 

  font-weight: 600;
  color: rgb(255, 255, 255);

  
}

form input{
  width: 100%;
  
  height: 4.0rem;
  border-radius: 0.4rem;
  border: none;

  background: var(--cor-pesquisar);

  grid-column: 2/3;
}
.profile{
  width: 42px;
  border-radius: 20px;
  grid-column: 3/4;
}

/* -----------------MAIN----------------- */
main{
  grid-column: 1/4;
}
.articles{
  margin: 0 2.6rem 3.9rem;
}
.imgprincipal {
  border-radius: .5rem;
  width: 100%;
  max-width: 80.3rem;

 
}

.main-article{
  /* margin: 0 2.2rem; */
  max-width: 80.3rem;
  margin-bottom: 3.4rem;
}
.title {
  display: flex;
  flex-direction: column;

  margin-block: 3.1rem;
}
.title h1 {
  margin-bottom: .8rem;
}

.related-articles {
  /* padding: 3.4rem 2.2rem; */
  max-width: 80.3rem;
}

.related-articles h1 {
  margin-bottom: 3.2rem;
  
}
section{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
figure {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

figure h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

figcaption p{
  font-size: 1.4rem;
}

/* -----------------FOOTER----------------- */
footer {
  height: 6.4rem;
  grid-column: 1/4;

  background: var(--cor2);

  padding-block: 2.6rem;
  text-align: center;
}

footer p{
  color: white;
  font-weight: 600;

}

/* -----------------DESKTOP----------------- */

@media (min-width: 1024px){
  .articles{
    display: flex;
    gap: 3.2rem;
    margin: 4.2rem 11.2rem;
  }
  .title{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .curtir{
    display: flex;
    gap: 1.2rem
  }

}
