*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --hsl: 195;
  --cor1: hsl(var(--hsl), 91%, 25%);
  --cor2: hsl(var(--hsl), 46%, 40%);
  --cor-pesquisar: rgba(255, 255, 255, 0.200);

}

form, p {
  font-size: 1.6rem;
}
h1{
  font-size: 2.4rem;
}

/* -----------------HEADER----------------- */
header{
  background: var(--cor1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.8rem; 
}
.logo{
  width: 40px;
  height: 40px;
}

form label {
  position: absolute;
  line-height: 4.0rem;
  margin-block: auto;
  margin-inline: 1.4rem; 

  font-weight: 600;
  color: rgb(255, 255, 255);
}
form input{
  width: 24.1rem;
  height: 4.0rem;
  border-radius: 0.4rem;
  border: none;

  background: var(--cor-pesquisar);
}
.profile{
  width: 42px;
  border-radius: 20px;
}
/* -----------------MAIN----------------- */

.main-article{
  padding: 0 2.2rem;
}
.title {
  display: flex;
  flex-direction: column;

  margin-block: 3.1rem;
}
.title h1 {
  margin-bottom: .8rem;
}

.related-articles {
  padding: 3.4rem 2.2rem;
}

.related-articles h1 {
  margin-bottom: 3.2rem;
}
section{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
figure {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

figure h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

figcaption p{
  font-size: 1.4rem;
}
/* -----------------FOOTER----------------- */
footer{
  background: var(--cor2);

  height: 6.4rem;
  padding-block: 2.6rem;

  text-align: center;
}

footer p{
  color: white;
  font-weight: 600;

}